.u-section-1 .u-sheet-1 {
  min-height: 405px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.8125rem;
  line-height: 1.2;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 166px 100px 0;
}

.u-section-1 .u-text-2 {
  font-family: Inter;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0px;
  font-size: 1.25rem;
  margin: 14px 100px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 215px;
}

.u-section-2 .u-text-1 {
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: -72px 199px 0 981px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 4.8125rem;
  line-height: 1.2;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 38px 100px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 680px;
  }

  .u-section-2 .u-text-2 {
    font-size: 4.5rem;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 460px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 280px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 341px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -246px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 607px;
}

.u-section-3 .u-slider-1 {
  min-height: 557px;
  width: 1243px;
  height: auto;
  margin: 25px auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-group-1 {
  --radius: 24px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 557px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.2;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  margin: 0 830px 0 80px;
}

.u-section-3 .u-text-2 {
  font-family: Inter;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 718px 0 80px;
}

.u-section-3 .u-btn-1 {
  --radius: 10px;
  font-size: 1.125rem;
  background-image: linear-gradient(to right, #395fe7, #203581);
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: 58px auto 0 80px;
  padding: 15px 50px;
}

.u-section-3 .u-image-1 {
  width: 600px;
  height: 600px;
  margin: -341px 0 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-group-2 {
  --radius: 24px;
  height: auto;
  min-height: 557px;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 20px 15px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.2;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  margin: 42px 812px 0 50px;
}

.u-section-3 .u-text-4 {
  font-family: Inter;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 7px 812px 0 50px;
}

.u-section-3 .u-btn-2 {
  --radius: 10px;
  font-size: 1.125rem;
  background-image: linear-gradient(to right, #395fe7, #203581);
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: 58px 812px 0 50px;
  padding: 15px 50px;
}

.u-section-3 .u-image-2 {
  width: 550px;
  height: 550px;
  margin: -338px 22px 0 auto;
}

.u-section-3 .u-carousel-control-1 {
  width: 60px;
  height: 60px;
  --radius: 24px;
  padding: 0;
}

.u-section-3 .u-carousel-control-2 {
  width: 60px;
  height: 60px;
  --radius: 24px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    width: 940px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 410px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 298px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    min-height: 1690px;
    height: auto;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    width: 60px;
    height: 60px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 190px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 78px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-slider-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-4 .u-sheet-1 {
  padding: 0;
}

.u-section-4 .u-slider-1 {
  min-height: 557px;
  width: 1243px;
  height: auto;
  margin: 20px auto 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-group-1 {
  --radius: 24px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 557px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.2;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  margin: 0 830px 0 80px;
}

.u-section-4 .u-text-2 {
  font-family: Inter;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 718px 0 80px;
}

.u-section-4 .u-btn-1 {
  --radius: 10px;
  font-size: 1.125rem;
  background-image: linear-gradient(to right, #395fe7, #203581);
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: 58px auto 0 80px;
  padding: 15px 50px;
}

.u-section-4 .u-image-1 {
  width: 600px;
  height: 600px;
  margin: -341px 0 0 auto;
}

.u-section-4 .u-sheet-1 {
  padding: 0;
}

.u-section-4 .u-group-2 {
  --radius: 24px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 557px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.2;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  margin: 0 830px 0 80px;
}

.u-section-4 .u-text-4 {
  font-family: Inter;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 718px 0 80px;
}

.u-section-4 .u-btn-2 {
  --radius: 10px;
  font-size: 1.125rem;
  background-image: linear-gradient(to right, #395fe7, #203581);
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: 58px auto 0 80px;
  padding: 15px 50px;
}

.u-section-4 .u-image-2 {
  width: 600px;
  height: 600px;
  margin: -341px 0 0 auto;
}

.u-section-4 .u-sheet-1 {
  padding: 0;
}

.u-section-4 .u-group-2 {
  --radius: 24px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 557px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.2;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  margin: 0 830px 0 80px;
}

.u-section-4 .u-text-4 {
  font-family: Inter;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0px;
  margin: 8px 718px 0 80px;
}

.u-section-4 .u-btn-2 {
  --radius: 10px;
  font-size: 1.125rem;
  background-image: linear-gradient(to right, #395fe7, #203581);
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: 58px auto 0 80px;
  padding: 15px 50px;
}

.u-section-4 .u-image-2 {
  width: 600px;
  height: 600px;
  margin: -341px 0 0 auto;
}

.u-section-4 .u-carousel-control-1 {
  width: 60px;
  height: 60px;
  --radius: 24px;
  padding: 0;
}

.u-section-4 .u-carousel-control-2 {
  width: 60px;
  height: 60px;
  --radius: 24px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    width: 940px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 410px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 298px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 410px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 298px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 410px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 298px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 78px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 78px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 190px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 78px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-slider-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 681px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-carousel-indicators-1 {
    bottom: 38px;
  }

  .u-section-4 .u-group-1 {
    min-height: 640px;
    width: 100%;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 366px;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    height: 340px;
    margin-top: -394px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-4 .u-group-2 {
    min-height: 640px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 366px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    height: 340px;
    margin-top: -394px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-4 .u-group-2 {
    min-height: 640px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 366px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    height: 340px;
    margin-top: -394px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-5 {
  margin-top: 20px;
}

.u-section-5 .u-sheet-1 {
  min-height: 777px;
}

.u-section-5 .u-group-1 {
  width: 285px;
  --radius: 24px;
  height: auto;
  min-height: 50px;
  margin: 25px auto 0 100px;
}

.u-section-5 .u-container-layout-1 {
  padding: 11px 0 0;
}

.u-section-5 .u-text-1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.9375rem;
  line-height: 1;
  letter-spacing: 0px;
  width: 214px;
  margin: -1px auto -18px;
}

.u-section-5 .u-group-2 {
  width: 1240px;
  --radius: 24px;
  height: auto;
  min-height: 626px;
  margin: 25px auto 40px;
}

.u-section-5 .u-container-layout-2 {
  padding: 29px 0;
}

.u-section-5 .u-text-2 {
  font-family: Inter;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.2;
  margin: 0;
}

.u-section-5 .u-text-3 {
  font-family: Inter;
  line-height: 1.4;
  font-weight: 500;
  margin: 21px 0 0;
}

.u-section-5 .u-image-1 {
  width: 1239px;
  height: 404px;
  margin: 21px -19px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 1222px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    font-weight: 400;
  }

  .u-section-5 .u-group-2 {
    width: 940px;
    height: auto;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 307px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-2 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1.722222222222222rem;
  }

  .u-section-5 .u-group-2 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.6666666666666665rem;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 176px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    margin-bottom: 0;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-5 .u-group-1 {
    margin-left: auto;
  }

  .u-section-5 .u-group-2 {
    min-height: 783px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 111px;
  }
} .u-section-6 {
  min-height: 1222px;
}

.u-section-6 .u-sheet-1 {
  min-height: 1072px;
}

.u-section-6 .u-group-1 {
  --radius: 24px;
  width: 285px;
  min-height: 54px;
  margin: 116px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 11px 0 0;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-family: Inter;
  font-size: 1.72222rem;
  line-height: 1;
  letter-spacing: 0px;
  margin: -1px auto -18px;
}

.u-section-6 .u-group-2 {
  --radius: 24px;
  margin-top: 20px;
  margin-bottom: 35px;
  min-height: 783px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0 29px;
}

.u-section-6 .u-text-2 {
  font-family: Inter;
  font-weight: 800;
  font-size: 2.66667rem;
  line-height: 1.2;
  width: auto;
  margin: -30px 0 0;
}

.u-section-6 .u-text-3 {
  font-family: Inter;
  line-height: 1.2;
  font-weight: 500;
  margin: 21px 0 0;
}

.u-section-6 .u-image-1 {
  width: 300px;
  height: 430px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-6 .u-group-2 {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5308622222222221rem;
  }

  .u-section-6 .u-group-2 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.370373333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 35px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 4px;
    margin-bottom: -23px;
  }

  .u-section-6 .u-group-2 {
    margin-top: 28px;
    margin-bottom: 20px;
    min-height: 862px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 29px;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 28px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-6 .u-image-1 {
    height: 473px;
    width: 330px;
    margin-top: 29px;
  }
} .u-section-7 {
  margin-top: 20px;
}

.u-section-7 .u-sheet-1 {
  min-height: 734px;
}

.u-section-7 .u-group-1 {
  width: 285px;
  --radius: 24px;
  height: auto;
  min-height: 50px;
  margin: 50px auto 0 99px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.9375rem;
  line-height: 1;
  letter-spacing: 0px;
  margin: 10px 0 1px;
}

.u-section-7 .u-text-2 {
  line-height: 1.4;
  font-weight: 700;
  font-size: 1.375rem;
  width: 700px;
  margin: 40px auto 0;
}

.u-section-7 .u-image-1 {
  width: 1242px;
  height: 400px;
  margin: 22px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-7 .u-text-1 {
    font-weight: 400;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    width: 929px;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-7 .u-text-2 {
    width: 720px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 232px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.722222222222222rem;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.222222222222222rem;
    margin-left: auto;
    width: 540px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 174px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-7 .u-group-1 {
    margin-left: 55px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 110px;
  }
} .u-section-8 {
  margin-top: 20px;
}

.u-section-8 .u-sheet-1 {
  min-height: 2037px;
}

.u-section-8 .u-group-1 {
  width: 350px;
  --radius: 24px;
  height: auto;
  min-height: 50px;
  margin: 70px auto 0 99px;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-8 .u-text-1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.9375rem;
  line-height: 1;
  letter-spacing: 0px;
  margin: 10px 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 1.9375rem;
  line-height: 1.2;
  letter-spacing: 0px;
  width: 716px;
  margin: 50px auto 0;
}

.u-section-8 .u-list-1 {
  width: 400px;
  margin: 50px 104px 0 auto;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 675px;
  grid-auto-columns: 100%;
  grid-gap: 5px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-image-1 {
  width: 40px;
  height: 40px;
  margin: 10px auto 0 10px;
}

.u-section-8 .u-text-3 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -34px 70px 0 60px;
}

.u-section-8 .u-text-4 {
  font-family: Inter;
  line-height: 1.2;
  font-weight: 500;
  margin: 10px 20px 0 60px;
}

.u-section-8 .u-container-layout-3 {
  padding: 0;
}

.u-section-8 .u-image-2 {
  width: 40px;
  height: 40px;
  margin: 10px auto 0 10px;
}

.u-section-8 .u-text-5 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -34px 70px 0 60px;
}

.u-section-8 .u-text-6 {
  font-family: Inter;
  line-height: 1.2;
  font-weight: 500;
  margin: 10px 20px 0 60px;
}

.u-section-8 .u-container-layout-4 {
  padding: 0;
}

.u-section-8 .u-image-3 {
  width: 40px;
  height: 40px;
  margin: 10px auto 0 10px;
}

.u-section-8 .u-text-7 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -34px 70px 0 60px;
}

.u-section-8 .u-text-8 {
  font-family: Inter;
  line-height: 1.2;
  font-weight: 500;
  margin: 10px 20px 0 60px;
}

.u-section-8 .u-container-layout-5 {
  padding: 0;
}

.u-section-8 .u-image-4 {
  width: 40px;
  height: 40px;
  margin: 10px auto 0 10px;
}

.u-section-8 .u-text-9 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -34px 70px 0 60px;
}

.u-section-8 .u-text-10 {
  font-family: Inter;
  line-height: 1.2;
  font-weight: 500;
  margin: 10px 20px 0 60px;
}

.u-section-8 .u-text-11 {
  font-weight: 700;
  font-size: 1.9375rem;
  line-height: 1.2;
  letter-spacing: 0px;
  width: 811px;
  margin: 110px auto 0;
}

.u-section-8 .u-list-2 {
  width: 400px;
  margin: 59px auto 0 99px;
}

.u-section-8 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 802px;
  grid-auto-columns: 100%;
  grid-gap: 5px;
}

.u-section-8 .u-container-layout-6 {
  padding: 0;
}

.u-section-8 .u-image-5 {
  width: 40px;
  height: 40px;
  margin: 10px auto 0 10px;
}

.u-section-8 .u-text-12 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -34px 70px 0 60px;
}

.u-section-8 .u-text-13 {
  font-family: Inter;
  line-height: 1.2;
  font-weight: 500;
  margin: 10px 20px 0 60px;
}

.u-section-8 .u-container-layout-7 {
  padding: 0;
}

.u-section-8 .u-image-6 {
  width: 40px;
  height: 40px;
  margin: 10px auto 0 10px;
}

.u-section-8 .u-text-14 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -34px 70px 0 60px;
}

.u-section-8 .u-text-15 {
  font-family: Inter;
  line-height: 1.2;
  font-weight: 500;
  margin: 10px 20px 0 60px;
}

.u-section-8 .u-container-layout-8 {
  padding: 0;
}

.u-section-8 .u-image-7 {
  width: 40px;
  height: 40px;
  margin: 10px auto 0 10px;
}

.u-section-8 .u-text-16 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -34px 70px 0 60px;
}

.u-section-8 .u-text-17 {
  font-family: Inter;
  line-height: 1.2;
  font-weight: 500;
  margin: 10px 20px 0 60px;
}

.u-section-8 .u-container-layout-9 {
  padding: 0;
}

.u-section-8 .u-image-8 {
  width: 40px;
  height: 40px;
  margin: 10px auto 0 10px;
}

.u-section-8 .u-text-18 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -34px 70px 0 60px;
}

.u-section-8 .u-text-19 {
  font-family: Inter;
  line-height: 1.2;
  font-weight: 500;
  margin: 10px 20px 0 60px;
}

.u-section-8 .u-group-2 {
  width: 600px;
  height: auto;
  min-height: 839px;
  --radius: 24px;
  margin: -801px 104px 59px auto;
}

.u-section-8 .u-container-layout-10 {
  padding: 21px 14px;
}

.u-section-8 .u-image-9 {
  width: 335px;
  height: 689px;
  --radius: 24px;
  margin: 10px auto 0 29px;
}

.u-section-8 .u-image-10 {
  width: 278px;
  height: 571px;
  --radius: 24px;
  margin: -474px 29px -9px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    margin-top: 75px;
    height: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 11px;
  }

  .u-section-8 .u-text-1 {
    width: 214px;
  }

  .u-section-8 .u-text-2 {
    margin-top: -296px;
  }

  .u-section-8 .u-list-1 {
    margin-top: 2103px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-text-11 {
    margin-top: -1868px;
  }

  .u-section-8 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-group-2 {
    margin-bottom: 60px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    margin-top: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: 0;
  }

  .u-section-8 .u-list-1 {
    margin-top: 0;
  }

  .u-section-8 .u-text-11 {
    margin-top: 0;
    width: 720px;
  }

  .u-section-8 .u-list-2 {
    margin-top: 0;
  }

  .u-section-8 .u-group-2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    font-size: 1.722222222222222rem;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.722222222222222rem;
    width: 540px;
  }

  .u-section-8 .u-text-11 {
    font-size: 1.722222222222222rem;
    width: 540px;
  }

  .u-section-8 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-8 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 125px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 0;
  }

  .u-section-8 .u-text-5 {
    margin-right: 40px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
  }

  .u-section-8 .u-text-7 {
    margin-right: 125px;
  }

  .u-section-8 .u-text-8 {
    margin-right: 0;
  }

  .u-section-8 .u-text-9 {
    margin-right: 125px;
  }

  .u-section-8 .u-text-10 {
    margin-right: 0;
  }

  .u-section-8 .u-text-11 {
    width: 340px;
  }

  .u-section-8 .u-list-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-8 .u-text-12 {
    margin-right: 40px;
    margin-left: 30px;
  }

  .u-section-8 .u-text-13 {
    margin-right: 0;
    margin-left: 30px;
  }

  .u-section-8 .u-text-14 {
    margin-right: 40px;
    margin-left: 30px;
  }

  .u-section-8 .u-text-15 {
    margin-right: 0;
    margin-left: 30px;
  }

  .u-section-8 .u-text-16 {
    margin-right: 40px;
    margin-left: 30px;
  }

  .u-section-8 .u-text-17 {
    margin-right: 0;
    margin-left: 30px;
  }

  .u-section-8 .u-text-18 {
    margin-right: 40px;
    margin-left: 30px;
  }

  .u-section-8 .u-text-19 {
    margin-right: 0;
    margin-left: 30px;
  }

  .u-section-8 .u-group-2 {
    width: 340px;
  }

  .u-section-8 .u-image-9 {
    width: 320px;
    height: 658px;
    margin-left: 0;
  }

  .u-section-8 .u-image-10 {
    margin-top: -443px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 746px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 1.9375rem;
  line-height: 1;
  letter-spacing: 0px;
  margin: -51px 100px 0 627px;
}

.u-section-9 .u-text-2 {
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  margin: 71px 578px 0 627px;
}

.u-section-9 .u-text-3 {
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  margin: -18px 142px 0 1040px;
}

.u-section-9 .u-text-4 {
  font-family: Inter;
  line-height: 1;
  font-weight: 500;
  margin: 11px 100px 0 1040px;
}

.u-section-9 .u-text-5 {
  font-family: Inter;
  line-height: 1;
  font-weight: 500;
  margin: -54px 491px 0 627px;
}

.u-section-9 .u-text-6 {
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  margin: 66px 165px 0 1040px;
}

.u-section-9 .u-text-7 {
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  margin: -18px 709px 0 627px;
}

.u-section-9 .u-text-8 {
  font-family: Inter;
  line-height: 1;
  font-weight: 500;
  margin: 11px 91px 0 1040px;
}

.u-section-9 .u-text-9 {
  font-family: Inter;
  line-height: 1;
  font-weight: 500;
  margin: -54px 525px 0 627px;
}

.u-section-9 .u-text-10 {
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  margin: 66px 578px 0 627px;
}

.u-section-9 .u-text-11 {
  font-family: Inter;
  line-height: 1;
  font-weight: 500;
  margin: 11px 482px 60px 627px;
}

.u-section-9 .u-group-1 {
  --radius: 24px;
  width: 285px;
  min-height: 54px;
  height: auto;
  margin: -874px auto 0;
}

.u-section-9 .u-container-layout-1 {
  padding: 11px 0 0;
}

.u-section-9 .u-text-12 {
  font-weight: 400;
  font-family: Inter;
  line-height: 1;
  letter-spacing: 0px;
  width: 214px;
  font-size: 1.125rem;
  margin: -1px auto -18px;
}

.u-section-9 .u-icon-1 {
  width: 64px;
  background-image: none;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 30px auto 0;
  padding: 6px;
}

.u-section-9 .u-icon-2 {
  width: 64px;
  background-image: none;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 30px auto 0;
  padding: 6px;
}

.u-section-9 .u-icon-3 {
  width: 64px;
  background-image: none;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 30px auto 0;
  padding: 6px;
}

.u-section-9 .u-icon-4 {
  width: 64px;
  background-image: none;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 30px auto 0;
  padding: 6px;
}

.u-section-9 .u-icon-5 {
  width: 64px;
  background-image: none;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: 30px auto 60px;
  padding: 6px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-top: 163px;
    margin-right: 0;
    margin-left: 227px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 100px;
    margin-right: 478px;
    margin-left: 227px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
    margin-left: 682px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
    margin-left: 618px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 20px;
    margin-right: 241px;
    margin-left: 377px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 0;
    margin-left: 705px;
  }

  .u-section-9 .u-text-7 {
    margin-right: 459px;
    margin-left: 377px;
  }

  .u-section-9 .u-text-8 {
    margin-right: 0;
    margin-left: 631px;
  }

  .u-section-9 .u-text-9 {
    margin-top: 20px;
    margin-right: 275px;
    margin-left: 377px;
  }

  .u-section-9 .u-text-10 {
    margin-right: 328px;
    margin-left: 377px;
  }

  .u-section-9 .u-text-11 {
    margin-top: -192px;
    margin-right: 232px;
    margin-left: 377px;
  }

  .u-section-9 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-left: 7px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 7px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 462px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 398px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 131px;
    margin-left: 267px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 485px;
  }

  .u-section-9 .u-text-7 {
    margin-right: 349px;
    margin-left: 267px;
  }

  .u-section-9 .u-text-8 {
    margin-left: 411px;
  }

  .u-section-9 .u-text-9 {
    margin-right: 165px;
    margin-left: 267px;
  }

  .u-section-9 .u-text-10 {
    margin-right: 218px;
    margin-left: 267px;
  }

  .u-section-9 .u-text-11 {
    margin-right: 122px;
    margin-left: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    font-size: 1.722222222222222rem;
    margin-top: 192px;
    margin-left: 0;
  }

  .u-section-9 .u-text-2 {
    margin-right: 305px;
    margin-left: 0;
  }

  .u-section-9 .u-text-3 {
    margin-left: 282px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 218px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 41px;
    margin-left: 177px;
  }

  .u-section-9 .u-text-6 {
    margin-top: 64px;
    margin-left: 305px;
  }

  .u-section-9 .u-text-7 {
    margin-top: -14px;
    margin-right: 259px;
    margin-left: 177px;
  }

  .u-section-9 .u-text-8 {
    margin-top: 15px;
    margin-left: 231px;
  }

  .u-section-9 .u-text-9 {
    margin-right: 75px;
    margin-left: 177px;
  }

  .u-section-9 .u-text-10 {
    margin-top: -139px;
    margin-right: 128px;
    margin-left: 177px;
  }

  .u-section-9 .u-text-11 {
    margin-top: 11px;
    margin-right: 32px;
    margin-left: 177px;
  }

  .u-section-9 .u-text-12 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1254px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    line-height: 1.4;
    width: auto;
    margin-top: 124px;
  }

  .u-section-9 .u-text-2 {
    width: 235px;
    margin-top: 86px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-top: 123px;
    margin-right: 23px;
    margin-left: 59px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-top: 9px;
    margin-left: 0;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-top: -174px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-6 {
    width: 235px;
    margin-top: 377px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-7 {
    width: 104px;
    margin-top: -182px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-8 {
    width: auto;
    margin-top: 175px;
    margin-left: 0;
  }

  .u-section-9 .u-text-9 {
    width: auto;
    margin-top: 102px;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-9 .u-text-10 {
    width: 235px;
    margin-top: -73px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-text-11 {
    width: auto;
    margin: -307px 0 0;
  }

  .u-section-9 .u-group-1 {
    margin-top: -815px;
  }

  .u-section-9 .u-text-12 {
    font-size: 1.72222rem;
    margin-top: 2px;
    margin-bottom: -21px;
  }

  .u-section-9 .u-icon-1 {
    width: 40px;
    height: 38px;
    margin-top: 519px;
  }

  .u-section-9 .u-icon-2 {
    width: 40px;
    height: 40px;
    margin-top: 402px;
  }

  .u-section-9 .u-icon-3 {
    width: 40px;
    height: 40px;
    margin-top: -190px;
  }

  .u-section-9 .u-icon-4 {
    width: 40px;
    height: 40px;
    margin-top: -206px;
  }

  .u-section-9 .u-icon-5 {
    width: 40px;
    height: 40px;
    margin-top: -308px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1112px;
  margin-bottom: 0;
}

.u-section-10 .u-group-1 {
  width: 285px;
  --radius: 24px;
  height: auto;
  min-height: 50px;
  margin: 61px auto 0 100px;
}

.u-section-10 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-10 .u-text-1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.9375rem;
  line-height: 1;
  letter-spacing: 0px;
  margin: 10px 0 1px;
}

.u-section-10 .u-text-2 {
  line-height: 1.4;
  font-size: 1.875rem;
  margin: 51px 100px 0;
}

.u-section-10 .u-gallery-1 {
  height: 758px;
  width: 1240px;
  margin: 58px auto 50px;
}

.u-section-10 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-10 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-10 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-10 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-10 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-10 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-10 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-10 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-10 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-10 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 60px;
  height: 60px;
  top: 339px;
  padding: 0;
}

.u-section-10 .u-carousel-control-2 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 1190px;
  top: 339px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-group-1 {
    height: auto;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-10 .u-text-1 {
    font-weight: 400;
  }

  .u-section-10 .u-text-2 {
    font-weight: 400;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-gallery-1 {
    width: 940px;
  }

  .u-section-10 .u-carousel-control-1 {
    left: 7px;
  }

  .u-section-10 .u-carousel-control-2 {
    right: 7px;
    left: 777px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-gallery-1 {
    width: 720px;
  }

  .u-section-10 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-10 .u-carousel-control-2 {
    right: 5px;
    left: 595px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    font-size: 1.722222222222222rem;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.6666666666666665rem;
  }

  .u-section-10 .u-gallery-1 {
    width: 540px;
  }

  .u-section-10 .u-carousel-control-1 {
    left: 4px;
  }

  .u-section-10 .u-carousel-control-2 {
    right: 4px;
    left: 446px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-group-1 {
    margin-left: 55px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-10 .u-gallery-1 {
    width: 340px;
  }

  .u-section-10 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-10 .u-carousel-control-2 {
    right: 3px;
    left: 281px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 907px;
}

.u-section-11 .u-group-1 {
  width: 232px;
  --radius: 24px;
  height: auto;
  min-height: 51px;
  margin: 36px auto 0 100px;
}

.u-section-11 .u-container-layout-1 {
  padding: 11px 0 0;
}

.u-section-11 .u-text-1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.9375rem;
  line-height: 1;
  letter-spacing: 0px;
  width: 176px;
  margin: -1px auto -18px;
}

.u-section-11 .u-group-2 {
  width: 706px;
  height: auto;
  min-height: 752px;
  --radius: 24px;
  margin: 9px 84px 0 auto;
}

.u-section-11 .u-container-layout-2 {
  padding: 14px 14px 2px;
}

.u-section-11 .u-image-1 {
  width: 310px;
  height: 638px;
  --radius: 24px;
  margin: 40px auto 0 65px;
}

.u-section-11 .u-image-2 {
  width: 254px;
  height: 522px;
  --radius: 24px;
  margin: -490px 84px 0 auto;
}

.u-section-11 .u-text-2 {
  line-height: 1;
  font-weight: 700;
  font-size: 1.375rem;
  margin: -724px 864px 0 99px;
}

.u-section-11 .u-text-3 {
  font-family: Inter;
  line-height: 1;
  font-weight: 700;
  margin: 33px 1103px 0 233px;
}

.u-section-11 .u-text-4 {
  font-family: Inter;
  line-height: 1;
  font-weight: 500;
  margin: 16px 894px 0 233px;
}

.u-section-11 .u-text-5 {
  font-family: Inter;
  line-height: 1;
  font-weight: 700;
  margin: 40px 1102px 0 234px;
}

.u-section-11 .u-text-6 {
  font-family: Inter;
  line-height: 1;
  font-weight: 500;
  margin: 16px 893px 0 234px;
}

.u-section-11 .u-btn-1 {
  --radius: 10px;
  font-size: 1.125rem;
  background-image: linear-gradient(to right, #395fe7, #203581);
  font-family: Inter;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin: 74px auto 60px 248px;
  padding: 15px 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1391px;
  }

  .u-section-11 .u-group-1 {
    margin-top: 1183px;
    height: auto;
  }

  .u-section-11 .u-text-1 {
    font-weight: 400;
  }

  .u-section-11 .u-group-2 {
    --radius: 10px;
    margin-top: -722px;
    height: auto;
  }

  .u-section-11 .u-text-2 {
    margin-top: 20px;
    margin-right: 463px;
    margin-left: 0;
  }

  .u-section-11 .u-text-3 {
    margin-right: 836px;
    margin-left: 0;
  }

  .u-section-11 .u-text-4 {
    margin-right: 627px;
    margin-left: 0;
  }

  .u-section-11 .u-text-5 {
    margin-right: 836px;
    margin-left: 0;
  }

  .u-section-11 .u-text-6 {
    margin-right: 627px;
    margin-left: 0;
  }

  .u-section-11 .u-btn-1 {
    margin-bottom: -367px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1633px;
  }

  .u-section-11 .u-group-1 {
    margin-top: 1304px;
  }

  .u-section-11 .u-group-2 {
    margin-right: 14px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 243px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 616px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 407px;
  }

  .u-section-11 .u-text-5 {
    margin-right: 616px;
  }

  .u-section-11 .u-text-6 {
    margin-right: 407px;
  }

  .u-section-11 .u-btn-1 {
    margin-bottom: -246px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1788px;
  }

  .u-section-11 .u-group-1 {
    margin-top: 1370px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.722222222222222rem;
  }

  .u-section-11 .u-group-2 {
    width: 540px;
    margin-top: -677px;
    margin-right: 0;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-2 {
    font-size: 1.222222222222222rem;
    margin-right: 63px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 436px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 227px;
  }

  .u-section-11 .u-text-5 {
    margin-right: 436px;
  }

  .u-section-11 .u-text-6 {
    margin-right: 227px;
  }

  .u-section-11 .u-btn-1 {
    margin-bottom: -158px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-11 .u-group-1 {
    width: 285px;
    min-height: 54px;
    margin-top: 35px;
    margin-left: auto;
  }

  .u-section-11 .u-text-1 {
    margin-top: 2px;
    margin-bottom: -21px;
  }

  .u-section-11 .u-group-2 {
    min-height: 647px;
    margin-top: 470px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-container-layout-2 {
    padding-bottom: 14px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-11 .u-image-1 {
    width: 250px;
    height: 515px;
    margin-top: 0;
    margin-left: 2px;
  }

  .u-section-11 .u-image-2 {
    width: 200px;
    height: 411px;
    margin-top: -309px;
    margin-right: 2px;
  }

  .u-section-11 .u-text-2 {
    line-height: 1.2;
    width: auto;
    margin-top: -1082px;
    margin-right: 0;
  }

  .u-section-11 .u-text-3 {
    width: 104px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-11 .u-text-5 {
    width: 104px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-text-6 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 710px;
    margin-left: auto;
    margin-bottom: 35px;
  }
}